body,html,* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, a, p, li, footer {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 14px;
}
#wrapper {
    display: grid;
    max-width: 1600px;
    margin: 0 auto 0 auto;
    grid-template-columns: repeat(12, minmax(0, 1fr))
}
nav {
    grid-column: 1 / -1;
    background-color: darkgray;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    padding: 10px;
    background-color: #dddddd;
}
nav a:hover {
    color: white;
    background-color: darkgray;
}
nav a:active {
    color: white;
    background-color: darkgray;
}
header {
    grid-column: 1 / -1;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
main.index {
    grid-column: 1 / -1;
    background-image: url(../img/about/about_us.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}
main.index h1 {
    position: relative;
    left: 30px;
    top: 30px;
    color: white;
    text-shadow: 2px 2px gray;
    font-family: Arial, Helvetica, sans-serif;

    font-weight: bold;
    text-transform: capitalize;
}
footer {
    grid-column: 1 / -1;
    background-color: darkgray;
    color: white;
    text-align: right;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

/* menu page */

main.menu {
    grid-column: 2 / -2;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    align-items: center;
}
.card-container1, .card-container2 {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.card {
    /* background-color: #c0ffe0; */
    border: 1px solid grey;
    border-radius: 10px;
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    row-gap: 8px;

}
.card h3, .card p {
    text-align: center;
}
.card p {
    margin: 0 10px;
}
.card img {
    max-width: 64px;
}
.card .banner {
    width: 100%;
    height: 80px;
    background-position: center;
    background-size: cover;
}

.banner1 {
    background-image: url("../img/food/0722-san-diego-zoo-dining-boys-kids-meal.jpeg");
}
.banner2 {
    background-image: url("../img/food/Dining-Options_Header.jpeg");
}
.banner3 {
    background-image: url("../img/food/download.jpeg");
}
.banner4 {
    background-image: url("../img/food/image.jpeg");
}
.banner5 {
    background-image: url("../img/food/maxresdefault.jpeg");
}
.banner6 {
    background-image: url("../img/food/NZ-food-image-1024x683.webp");
}
.banner7 {
    background-image: url("../img/food/Zoo-Hero-Eating.jpeg");
}
.banner8 {
    background-image: url("../misc/man\ redigerad\ bild.png");
}

/* about page */

main.about {
    grid-column: 2 / -2;
    gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.about .section {
    display: flex;
    gap: 32px;
}
main.about .section:nth-child(1) {
    margin-top: 64px;
}
main.about .section div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
main.about .section p {
    max-width: 40ch;
}
main.about div img {
    width: 400px;
}
main.about .section:nth-child(1) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
main.about img {
    border-radius: 10px;
}